* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
}

body {
  background: var(--background) url(./assets/blur-mobile.png) no-repeat top/cover;
  height: 100vh;
}

body * {
  font-family: 'Manrope', sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.desktop {
  display: none;
}

header,
.menu-header {
  padding: 37px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  border-bottom: 1px solid var(--border);
}

h1 {
  margin: 88px 28px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.6px;
}

button {
  cursor: pointer;
  text-transform: uppercase;

  border: 1px solid var(--button);
  border-radius: 6px;
  background: transparent;

  font-size: 11px;
  font-weight: 800;
  letter-spacing: 0.22px;

  padding: 10px 30px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  transition: background 0.2s;
}

button:hover {
  background: rgba(0, 0, 0, 0.5);
}

.titles {
  margin: 98px auto 25px;

  font-size: 50px;
  font-weight: 700;
  letter-spacing: -1.5px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.shadow-title {
  color: initial;
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

.rocket-coffee-img {
  width: 100vw;
}

.menu-mobile {
  position: fixed;
  z-index: 1;
  top: 0;
  overflow: auto;

  width: 100vw;
  height: 100vh;
  background: var(--background);
}

.menu-header {
  border-bottom: none;
}

.menu-mobile ul li {
  padding: 16px 31px;
  font-size: 18px;
  border-bottom: 1px solid var(--border);
}

.menu-mobile ul li a {
  color: var(--border-menu-mobile);
}

.menu-mobile ul li:first-child {
  padding: 16px 26px;
  border-top: 1px solid var(--border);
  border-left: 5px solid var(--button);
  font-weight: 700;
}

.menu-mobile ul li a:first-child {
  color: var(--text-color-menu-mobile);
}

@media (min-width: 1000px) {
  body {
    background: url(./assets/blur-1.png) no-repeat top left/cover, var(--background) url(./assets/blur-2.png) no-repeat bottom right/cover;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
  }

  header {
    border: none;
    justify-content: space-evenly;
    padding: 40px 0 50px;
  }

  button {
    margin: 0;
    padding: 11px 38px;
  }

  .menu-desktop ul {
    display: flex;
    gap: 33px;
  }

  .menu-desktop ul li {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
  }

  .titles {
    margin: 0;
    font-size: 80px;
    letter-spacing: -2.4px;
    gap: 0;
  }

  .rocket-coffee-img {
    width: initial;
    display: block;
    margin: 0 auto;
  }
}
